@import "../reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "../pages/Home/Banner.scss";
@import "../pages/Home/Home-Info.scss";
@import "../pages/Home/InvestmentReasons.scss";
@import "../pages/Home/LatestArticles.scss";
@import "../components/Navigation/Navigation.scss";
@import "../components/Footer/Footer.scss";
@import "../pages/Page/Page.scss";
@import "../pages/Contact/Contact.scss";
@import "../pages/News/News.scss";
@import "../pages/Page/PageBanner.scss";
@import "../pages/News/ArticleFull/ArticleFull.scss";

$mainFont: "Lora", serif;

.app {
  font-family: $mainFont;
  width: 100vw;
}
.cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding-bottom: 25vh;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.thumbs-wrapper,
.axis-vertical {
  display: none;
}
.slide {
  img {
    max-width: 100%;
    height: auto;
  }
}
div.main.col {
  padding-right: 0;
  padding-left: 0;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
