.article-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .article-cnt {
    height: 30vh;
    width: 50vw;
    background-color: #33333380;
    padding: 40px;
    color: #ffffff;
    .art-title {
      h3 {
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        text-align: center;
        line-height: 40px;
      }
    }
    .art-img-cnt {
    }
    .art-content {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
