.home-info {
  height: 60vh;
  p {
    font-size: 25px;
    line-height: 35px;
    padding: 100px 15px;
    text-align: justify;
  }
}
@media (max-width: 1600px) {
  .home-info {
    height: 100%;
    width: 95vw;
    p {
      font-size: 22px;
      padding: 20px 15px;
      text-align: justify;
    }
  }
}
@media (max-width: 1400px) {
  .home-info {
    p {
      font-size: 20px;
      padding: 20px 15px;
    }
  }
}

@media (max-width: 1000px) {
  .home-info {
    p {
      font-size: 16px;
      padding: 20px 15px;
    }
  }
}
@media (max-width: 360px) {
  .home-info {
    width: 100vw;
    p {
      font-size: 16px;
      padding: 20px 15px;
    }
  }
}
