.home-info {
  height: 60vh;
  padding-top: 8rem;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100vw - 30%);
  background-color: #ffffff60;
  font-family: "Crimson-text", sans-serif;
  line-height: 27px;
  font-size: 18px;
  text-align: justify;
}
