.cookie_info_cnt{


    .cookie_info_content{
        font-size: 20px;
        line-height: 25px;
    }
    button {

        right: 10px;
        font-weight: bold;
        color: #333333 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        margin-top: 10px;
        padding: 10px 20px;
        border: 2px solid #333333 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
      }
      button:hover {
        color: #ffffff !important;
        background: #c8a482;
        border-color: #c8a482 !important;
        transition: all 0.4s ease 0s;
      }
}
