.nav-main-cnt {
  z-index: 100;
  background-color: #333;
  font-size: 13px;
  line-height: 16px;
  position: fixed;
  font-family: Cabin, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  display: flex;
  .nav-cnt {
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      .nav-item {
        position: relative;
        color: #ffffff;
        display: flex;
        width: 150px;
        line-height: 7vh;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: color 0.5s ease;
        align-items: center;
        .arrow_cnt {
          .dropdown-arrow {
            height: 7px;
            width: 7px;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
            margin-left: 10px;
            display: none;
            transition: all 500ms linear;
          }
        }
      }
    }
    a:hover {
      cursor: pointer;
      text-decoration: none;
      color: #c8a482;
    }
    .activ-nav-item {
      color: #c8a482;
    }
    .sub-menu-main-item {
      align-self: center;
      width: 150px;
      display: block;
      cursor: pointer;
      transition: color 0.5s ease;
      a:hover {
        text-decoration: none;
        color: #c8a482;
      }
      .dropdown {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        cursor: pointer;
        line-height: 20px;
        transition: color 0.5s ease;

        .sub-menu-main-item {
          border-bottom: 1px solid #c8a482;
        }
        .active-nav-item {
          color: #c8a482;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
    .sub-menu-main-item:hover {
      color: #c8a482;
    }
  }
  .nav-cnt .sub-menu-main-item .dropdown {
    display: none;
    opacity: 0;
    position: absolute;
    transition: all 0.6s ease;
    z-index: 100;
  }
  .nav-cnt .sub-menu-main-item:hover .dropdown,
  .nav-cnt .sub-menu-main-item .dropdown:hover {
    background-color: #333333;
    visibility: visible;
    opacity: 1;
    display: block;
    text-decoration: none;
    color: #c8a482;
  }
}

.home-icon {
  position: absolute;
  font-size: 22px;
}

// -----------------------
// BURGER
// -----------------------

.burger {
  display: flex;
  height: 100%;
  align-items: center;
}
.burger-cnt {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #e99b5280;
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.toggle-input {
  display: none;
}

@media (max-width: 1020px) {
  .nav-cnt {
    width: 1020px;
    li.sub-menu-main-item {
      width: 110px;
      .nav-item {
        width: 110px;
      }
    }
    li {
      width: 110px;
      .nav-item {
        width: 110px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 960px) {
  .nav-cnt {
    width: 960px;
    li.sub-menu-main-item {
      width: 120px;
      .nav-item {
        width: 120px;
      }
    }
    li {
      width: 120px;
      .nav-item {
        width: 120px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 880px) {
  .nav-cnt {
    width: 860px;
    li.sub-menu-main-item {
      width: 85px;
      .nav-item {
        width: 85px;
      }
    }
    li {
      width: 85px;
      .nav-item {
        width: 80px;
        font-size: 9px;
      }
    }
  }
}
@media (max-width: 660px) {
  .nav-cnt {
    width: 100%;
    li.sub-menu-main-item {
      width: 100%;
      .nav-item {
        width: 80px;
      }
    }
    li {
      width: 80px;
      .nav-item {
        width: 80px;
        font-size: 8px;
      }
    }
  }
}

@media (max-width: 620px) {
  .nav-main-cnt {
    height: 7vh;
    // width: 100vw;
    width: 100%;
    position: sticky;
    background-color: #333333;
    .burger {
      position: absolute;
      height: 7vh;
      width: 7vh;
      right: 0;
    }
    .burger-cnt {
      display: block;
    }
    .nav-cnt {
      display: none;
      .nav-item {
        position: relative;
        top: 0;
        font-size: 12px;
        background-color: #333333;
        // left: -200px;
      }
      .nav-item.active-nav-item {
        display: block;
      }
      .nav-item.visible-menu {
        line-height: 22px;
        display: inline-block;
        left: 50%;
        height: 7vh;
        transform: translateX(-50%);
        .arrow_cnt {
          .dropdown-arrow {
            display: inline-block;
          }
        }
      }
    }
    .nav-cnt.nav-visible-cnt {
      display: block;
    }
  }
  .home-icon {
    right: 70px;
    top: 50%;
  }
  .nav-cnt .sub-menu-main-item:hover .dropdown,
  .nav-cnt .sub-menu-main-item .dropdown {
    display: none;
    background-color: lighten($color: #333333, $amount: 20);
    position: relative;
    top: 0;
    width: 100%;
    background-color: lighten(#333333, 10);
    z-index: 2000;
  }
  .nav-cnt li.sub-menu-main-item .nav-item {
    width: 100%;
  }
  .nav-main-cnt .nav-cnt .nav-item.visible-menu {
    width: 100vw;
    padding: 0;
  }
  .nav-main-cnt {
    .nav-cnt.nav-cnt.nav-visible-cnt {
      li {
        width: 100vw;
      }
    }
  }
  .nav-main-cnt .nav-cnt .nav-item.visible-menu {
    display: flex;
  }
  .nav-main-cnt {
    .nav-cnt.nav-visible-cnt {
      li:first-child {
        .nav-item.visible-menu {
          left: 75px;
        }
      }
    }
  }
  .nav-main-cnt .nav-cnt .sub-menu-main-item:hover .dropdown,
  .nav-main-cnt .nav-cnt .sub-menu-main-item .dropdown:hover {
    display: none;
  }
  .dropdown.visible-dropdown {
    display: block !important;
  }
  .nav-main-cnt
    .nav-cnt
    li
    .nav-item
    .arrow_cnt
    .dropdown-arrow.dropdown-arrow-rotate {
    transform: rotate(-315deg);
  }
}
