.news-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .news-cnt{
        display: flex;
        margin-top: 120px;
        width: 1000px;
        .article-cnt{
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            .article-content{
                height: 150px;
                padding:10px;
                background-color:#000000;
                .article-title{
                    margin-bottom: 20px;
                    color: #ffffff;
                 }
                .article-text{
                    color: #797979;
                    font-family: 'Crimson Text',sans-serif;
                    line-height: 22px;
                    font-size: 16px;
                    font-weight: 400;
                    width: 830px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;   
                }
                .article-button {
                    border: none;
                    color: #fff;
                    overflow: hidden;
                }
                .oposite-button {

                }
            }
            .article-img{
                height: 150px;
                width: auto;
            }
        }
        .article-cnt-oposite{
            flex-direction: row-reverse;
        }
    }
}
